[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-caching = "*"
pandas = "*"
dash = "*"
dash-bootstrap-components = "*"
flask = "*"
matplotlib = "*"
seaborn = "*"
plotly = "*"
redis = "*"
psycopg2-binary = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.10"
