.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    grid-auto-columns: auto;
  }

.one, .two, .three {
    /* border: solid; */
    text-align : center;
}

.one {
    grid-column: 1 / 2;
    grid-row: 1;
  }
.two {
    grid-column: 2 / 2;
    grid-row: 1;
    }
.three {
    grid-column: 1 / 4;
    grid-row: 2;
}