<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}"> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <title>Bink Platform Dashboard</title>
</head>
<body>
    <h1 class="title title_big" style="text-align: center">Bink Platform Dashboard</h1>
    <br>
    <div class="wrapper">
        <div class="one">
            <h2>Bink Native Users</h2>
            <h3>{{ bink_users }}</h3>
        </div>
        <div class="two">
            <h2>Barclays Users</h2>
            <h3>{{ barclays_users }}</h3>
        </div>
        <div class="three">
            <canvas id="dailyUsers" width="1024" height="576">
                <script>
                    Chart.defaults.font.family = "'Roboto', 'sans-serif'";
                    const bink_col = 'rgba(67, 128, 134, 1)'
                    const barclays_col = 'rgba(0, 174, 239, 1)'
                    const ctx = document.getElementById("dailyUsers").getContext("2d");
                    const dailyUsers = new Chart(ctx, {
                        type:"line",
                        data: {
                            labels: {{ labels | safe}},
                            datasets: [
                                {
                                    label: "Bink",
                                    data: {{ bink | safe}},
                                    borderColor: bink_col,
                                    backgroundColor: bink_col,
                                    borderWidth:1.5,
                                    lineTension:0.15,
                                    fill: false,
                                    pointRadius:2,
                                    yAxisID: 'bink'
                                },
                                {
                                    label: "Barclays",
                                    data: {{ barclays | safe}},
                                    borderColor: barclays_col,
                                    backgroundColor: barclays_col,
                                    borderWidth:1.5,
                                    lineTension:0.15,
                                    fill: false,
                                    pointRadius:2.0,
                                    yAxisID: 'barclays'
                                }
                            ]
                        },
                        options: {
                            plugins: {
                                title: {
                                    display: true,
                                    text: 'Daily Users Joined'
                                }
                            },
                            responsive: false,
                            scales: {
                                x: {
                                    type: 'time',
                                    time: {
                                        unit: 'month',
                                        tooltipFormat: 'EEEE, dd-MM-yyyy'
                                    }
                                },
                                bink: {
                                    type: 'linear',
                                    display: true,
                                    position: 'left',
                                    title: {
                                        display: true,
                                        text: 'Bink'
                                    },
                                    grid: {
                                        drawOnChartArea: false
                                    }
                                },
                                barclays: {
                                    type: 'linear',
                                    display: true,
                                    position: 'right',
                                    title: {
                                        display: true,
                                        text: 'Barclays'
                                    },                                
                                }
                            }
                        }
                    });
                </script>
            </canvas>
        </div>
      </div>
    <br>
</body>
</html>